body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: sans-serif;
}

.controls {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;   /* THIS puts buttons above canvas */
}

button {
  margin: 5px;
  padding: 8px 12px;
  background: #111;
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
